@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --icon-color: #767779;
  --body-bg: #f2f2f2;
  --black: #000909;
  --border-color: #d9d9d999;
  --card-bg-white: #fdfdfd;
  --placeholder-color: #97999d;
  --para: #5c5c5c;
  --gradient-bar: linear-gradient(to left, #1aa788, #006f6f);
  --bar: #afb0b0;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: var(--body-bg) !important;
}

button.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.primary-gradient-heading {
  background: linear-gradient(to left, #1aa788, #006f6f);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.px-24 {
  padding: 0px 24px;
}

/*Login Section CSS Start */

.auth-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #f2f2f2;
}

.auth-wrapper main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.login-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-section .login-box {
  width: 100%;
  max-width: 500px;
  border: 1px solid var(--border-color);
  padding: 32px 8px 8px 8px;
  background-color: var(--card-bg-white);
  border-radius: 32px;
}

.login-title {
  color: var(--black);
  font-size: 44px;
  margin-bottom: 22px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  letter-spacing: -1px;
  text-align: center;
}

.login-form .form-label {
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  color: var(--black);
  margin: 0 0 12px !important;
}

.login-form .form-control,
.login-form .form-select {
  padding: 16px 12px;
  border: 1px solid var(--border-color);
  border-radius: 12px;
}

.login-form .form-control img {
  width: 20px;
}

.login-form .form-control input,
.login-form .form-control input:focus,
.login-form .form-control input:active {
  outline: none;
  border: none;
  box-shadow: none;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: var(--black);
  width: calc(100% - 20px);
}

.login-form .form-control input::placeholder {
  color: var(--placeholder-color);
}

.login-btn {
  width: 100%;
  border-radius: 900px;
  padding: 12px 20px;
  color: var(--card-bg-white) !important;
  border: none !important;
  outline: none;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  background: linear-gradient(95.48deg, #09a3a3 -16.47%, #a4c639 189.31%),
    linear-gradient(
      99.22deg,
      rgba(255, 255, 255, 0) 11.06%,
      rgba(255, 255, 255, 0.0528) 19.85%,
      rgba(255, 255, 255, 0) 32.04%
    ),
    linear-gradient(312.32deg, #008080 2.1%, rgba(0, 128, 128, 0) 65.63%),
    linear-gradient(
      90deg,
      rgba(164, 198, 57, 0) 0%,
      rgba(201, 237, 87, 0.2) 68.19%,
      rgba(164, 198, 57, 0) 100%
    );

  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.login-btn:hover,
.login-btn:focus,
.login-btn:active,
.login-btn:focus-visible {
  color: var(--card-bg-white) !important;
  border: none !important;
  outline: none;
}

.or {
  color: var(--black);
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  position: relative;
  opacity: 0.5;
}

.or::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  width: 33%;
  height: 1.5px;
  background-image: linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 25%;
}

.or::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  width: 33%;
  height: 1.5px;
  background-image: linear-gradient(-270deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 25%;
}

.btn-group .btn.btn-facebook {
  padding: 14px 32px;
  border: none;
  border-radius: 100px 100px !important;
  width: 100%;
  box-shadow: 0 0 0 0.5px #767779;
}

.btn-group .btn.btn-facebook span {
  color: var(--black);
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

.an-acccount {
  background: #f2f2f280;
  padding: 24px;
  text-align: center;
  border-radius: 8px 8px 28px 28px;
}

.an-acccount span {
  color: var(--para);
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

.an-acccount a {
  text-decoration: underline;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}
