@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --icon-color: #767779;
  --body-bg: #f2f2f2;
  --black: #000909;
  --border-color: #d9d9d999;
  --card-bg-white: #fdfdfd;
  --placeholder-color: #97999d;
  --para: #5c5c5c;
  --gradient-bar: linear-gradient(to left, #1aa788, #006f6f);
  --bar: #afb0b0;
  --light: #e8e8e8;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

a,
button {
  cursor: pointer;
}

body {
  background-color: var(--card-bg-white);
  font-family: "Manrope", sans-serif;
  overflow-x: hidden;
}

.primary-gradient-heading {
  background: linear-gradient(to left, #1aa788, #006f6f);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.px-24 {
  padding: 0px 24px;
}

header .navbar {
  z-index: 9999;
  padding: 16px 60px;
  background-color: #ffffff10;
  backdrop-filter: blur(47.3);
}

header ul.navbar-nav {
  gap: 46px !important;
}

header .navbar .nav-item .nav-link {
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  color: var(--black);
  padding: 0 !important;
}

header .navbar .nav-item .nav-link.active {
  background: linear-gradient(to left, #1aa788, #006f6f);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.btn-groups.d-xl-flex {
  gap: 28px;
  align-items: center;
}

.btn-groups.d-xl-flex .login {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

.btn-groups.d-xl-flex .white-btn {
  background-color: var(--card-bg-white);
  padding: 14px 32px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--black) !important;
  text-decoration: none;
  border-radius: 100px;
}

.grid-line-wrapper {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.04;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: -1;
  padding: 0 40px;
}

.grid-line-wrapper .grid-line {
  width: 1px;
  height: 100%;
  background: #000;
}

@media screen and (max-width: 1199px) {
  header .navbar .navbar-collapse {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100vh !important;
    background: var(--card-bg-white);
    display: block !important;
    transition: .5s;
  }

  header .navbar .navbar-collapse:not(.show){
    transform: translateY(-100%);
  }

  header .navbar .navbar-nav {
    padding: 20px 16px;
  }

  .header .navbar a.navbar-brand.d-none {
    display: flex !important;
    align-items: center;
  }

  .navbar-toggler {
    padding: 0px !important;
    border: none !important;
  }

  .navbar-toggler:focus,
  .navbar-toggler:focus-within,
  .navbar-toggler:focus-visible {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }

  header .navbar ul.navbar-nav.gap-5 {
    height: calc(100% - 75px);
    justify-content: end;
    padding: 20px 18px !important;
    gap: 48px !important;
  }

  ul.navbar-nav li.menu-title {
    display: block !important;
    color: #97999d;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin: 0 0 -24px;
    padding: 0 0 12px;
    position: relative;
  }

  ul.navbar-nav li.menu-title:after {
    content: "";
    width: 100%;
    height: 1px;
    background: linear-gradient(45deg, transparent, black, transparent);
    opacity: 0.1;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
  }

  ul.navbar-nav li.nav-item {
    border: none !important;
    padding: 0 !important;
    position: relative;
  }

  ul.navbar-nav li.nav-item:after {
    content: "";
    width: 100%;
    height: 1px;
    background: linear-gradient(45deg, transparent, black, transparent);
    opacity: 0.1;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -24px;
  }

   ul.navbar-nav li.nav-item:nth-child(4):after{
    display: none !important;
   }

  ul.navbar-nav li.nav-item a {
    color: #000909 !important;
    font-size: 28px !important;
    font-style: normal !important;
    font-weight: 400 !important;
  }
}
