@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --icon-color: #767779;
    --body-bg: #F2F2F2;
    --black: #000909;
    --border-color: #D9D9D999;
    --card-bg-white: #FDFDFD;
    --placeholder-color: #97999D;
    --para: #5C5C5C;
    --gradient-bar: linear-gradient(to left, #1AA788, #006F6F);
    --bar: #AFB0B0;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: var(--body-bg) !important;
}

.primary-gradient-heading {
    background: linear-gradient(to left, #1AA788, #006F6F);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.px-24 {
    padding: 0px 24px;
}

/* Forgot Password CSS Start  */
.verify-email-img {
    width: 103px;
    display: block;
    margin: 0px auto 35px;
}

.forgot_password .para {
    color: var(--para);
    font-size: 16px;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    margin: 0px auto 20px;
    width: 100%;
    max-width: 330px;
}

/* Forgot Password CSS End  */