@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --icon-color: #767779;
    --body-bg: #F2F2F2;
    --black: #000909;
    --border-color: #D9D9D999;
    --card-bg-white: #FDFDFD;
    --placeholder-color: #97999D;
    --para: #5C5C5C;
    --gradient-bar: linear-gradient(to left, #1AA788, #006F6F);
    --bar: #AFB0B0;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: var(--body-bg) !important;
}

button.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.primary-gradient-heading {
    background: linear-gradient(to left, #1AA788, #006F6F);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.px-24 {
    padding: 0px 24px;
}

/* Reset Password CSS Start */
.login-form .status-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 0px;
    gap: 10px;
    margin-bottom: 0px;
}

.password-status {
    background-color: #F2F2F280;
    margin: 10px 0px 15px;
    padding: 12px;
    border-radius: 12px;
}

.password-status .must-includes .includes {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: var(--para);
}

.password-status .must-includes {
    margin-bottom: 5px;
}

.password-status .status-count {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: var(--placeholder-color);
}

.status-list li img {
    width: 15px;
    opacity: 20%;
}

.status-list li p {
    margin-bottom: 0px;
    color: var(--para);
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 14px;
}