.auth-wrapper #login-header{
    background: transparent !important;
}

.back-button {
  color: #767779;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.btn-group {
    padding: 0;
}

@media screen and (max-width: 768px) {
  .login-box .or {
    padding-bottom: 20px !important;
    padding-top: 20px !important;
  }

  .register-page .login-box {
    background: transparent !important;
  }

  .register-page #login-header {
    margin: 20px 0 0;
  }

  .register-page .sign-up .account-steps {
    position: absolute;
    top: 20px;
    width: 100%;
  }

  .login-form .form-group {
    padding: 0;
  }

  .login-form > .row {
    margin: 0 !important;
  }

  .auth-wrapper{
    background: #fdfdfd !important;
  }

  .password-status .must-includes{
    margin-bottom: 12px !important;
  }
}